<header>
    <h1>Taras Horb</h1>
    <p class="text-end fw-bold">
        Resume project
    </p>
</header>

<section class='d-flex flex-column justify-content-start'>
  <div class='row'>
    <div class='col-12'>
      <div class='row'>
        <div class='col-6'>
          <div class='card border-light'>
            <div class='card-body'>
              <h2 class='card-title m-3'>List of pages</h2>
              <p class='card-text mb-3'>
                    fullstack developer
                
              </p>
              <div class='pt-3'>
                <ul class='nav d-flex flex-column'>
                     <li class='nav-item mt-2'>
                        <a href='/education'class='btn btn-primary'target='_blank'>
                        Education
                        </a>
                    </li>
                    <li class='nav-item mt-2'>
                        <a href='/summary'class='btn btn-primary'target='_blank'>
                            Summary
                        </a>
                    </li>
                    <li class='nav-item mt-2'>
                        <a href='/skills'class='btn btn-primary'target='_blank'>
                        Skills
                        </a>
                    </li>
                    <li class='nav-item mt-2'>
                        <a href='/work'class='btn btn-primary'target='_blank'>
                        Work
                        </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>