<header>
  <div class='row'>
    <div class='col-12'>
        <div class='row'>
          <div class='col-8'>
            <h1 class='card-title'>Taras Horb</h1>
          </div>
          <div class='col-4'>
            <div
              class='d-flex flex-row justify-content-end'>
              <h3 class=''>Resume project</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class='d-flex flex-column justify-content-start'>
  <div class='row'>
    <div class='col-12'>
      <div class='row'>
        <div class='col-6'>
          <div class='card border-light'>
            <div class='card-body'>
              <h2 class='card-title m-3'>List of pages</h2>
              <p class='card-text mb-3'>
                    I present my resume for the position 
                    <strong>fullstack developer</strong>
              </p>
              <div class='pt-3'>
                <ul class='nav d-flex flex-column'>
                     <li class='nav-item mt-2'>
                        <a href='/education'class='btn btn-primary'target='_blank'>
                        Education
                        </a>
                    </li>
                    <li class='nav-item mt-2'>
                        <a href='/summary'class='btn btn-primary'target='_blank'>
                            Summary
                        </a>
                    </li>
                    <li class='nav-item mt-2'>
                        <a href='/skills'class='btn btn-primary'target='_blank'>
                        Skills
                        </a>
                    </li>
                    <li class='nav-item mt-2'>
                        <a href='/work'class='btn btn-primary'target='_blank'>
                        Work
                        </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>