
<div class="col-8 mt-5 mb-5">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
            <li class="breadcrumb-item"> 
                <a {{#if @last}}disabled{{/if}}href={{url}} >{{name}}</a>
            </li>
        {{/each}}
    </ol>
</div>